<footer>
  <div class="region">
    Kazakhstan
  </div>

  <div class="footer-links">

    <ul class="nav">
      <li class="nav-item"><a class="nav-link" href="">About</a></li>
      <li class="nav-item"><a class="nav-link" href="">Advertising</a></li>
      <li class="nav-item"><a class="nav-link" href="">Business</a></li>
    </ul>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#">Privacy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Terms</a>
      </li>
      <li class="nav-item dropup">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu settings">
          <a href="">Seacrh settings</a>
          <a href="">Advanced search</a>
          <a href="">Your data in Search</a>
          <a href="">Seacrh history</a>
        </div>
      </li>
    </ul>
  </div>
</footer>

<!-- Custom Js -->
<script src="/js/geolocation.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>