<%- include("header") -%>

  <div id="main">
    <div class="google">
      <form action="/" method="POST">
        <img style="margin-bottom: 1.3rem;" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="">
        <div class="search">
          <i class="search-icon fas fa-search"></i>
          <input type="text" name="query">
          <i class="micro-icon fas fa-microphone"></i>
        </div>
        <div class="button-container">
          <button type="submit" class="btn">Google Search</button>
          <button type="submit" class="btn">I am feeling lucky</button>
        </div>
      </form>
    </div>
  </div>

  <%- include("footer") -%>